/* .table{
    border-color: rgb(233, 68, 170);
    width: 100%;
    border: 1px solid;
}
/* th,td{
padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
} */
/* tr{
border-bottom: 1px solid #ccc;
} */ 